.className {
	property1: 5;
	property2: "16px";
	property3: "hidden";
}

.closebutton {
  width: 16px;
  height: 16px;
  cursor: pointer;
  color: black;
}

.headerbutton {
    width: 16px;
    height: 16px;
    color: black;
    cursor: grab;
}

.desktopApps {
    padding: 7px 18px 7px 18px;
    background-color: seagreen;
    border-radius: 20px;
    width: fit-content;
    position: absolute;
    color: navajowhite;
    font-weight: bold;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
}

.window {
    background-color: seagreen;
    /* border: solid seagreen 2mm; */
    border-radius: 20px;
    position: absolute;
    width: fit-content;
    padding: 10px;
    font-family: sans-serif;
}

.numpad {
    background-color: mediumspringgreen;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
    margin-bottom: 10px;
}
